body{
    background-color: #333333;
    color: whitesmoke;
      font-family: Montserrat, sans-serif;font-size: 2rem;

}
a{
    text-decoration: none;
    color:#198;
}
p{
margin:auto;
padding: 1rem;
}
table{
    margin: auto;
}
#everything{
    border-radius: 1rem;
    background-color:rgba(33,33,33,50);
    margin:auto;
}
@media only screen and (max-width: 600px) {
    td
{
    padding:2rem;   
}
#everything{
    width:90%;

}
}@media only screen and (min-width: 600px) {
    td{
        padding:2rem;
    }#everything{
        width:50vw;
        
    }
}